.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_container {
  text-align: center;
  max-width: 600px;
}

.text,
.subtitle {
  color: var(--n4);
}

.title {
  margin-top: 24px;
}

.testimonials {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .testimonials {
    margin-top: 48px;
  }
}

@media (max-width: 430px) {
  .title {
    margin-top: 16px;
  }
}
