[class^="button"] {
  display: inline-flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 56px;
  padding: 0 30px;
  background: var(--green-500);
  transition: background 0.2s, border-color 0.2s, color 0.2s;
  border-radius: 12px;
  color: var(--n2);
  font-family: var(--font-dm-sans);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

[class^="button"]:hover {
  background-color: var(--green-600);
  color: var(--n8);
}

.button-stroke {
  border: 2px solid var(--n6);
  background: none;
  color: var(--n2);
}

.button-stroke:hover {
  border-color: transparent;
  background-color: var(--n1);
  color: var(--n8);
}

.button-black {
  background-color: var(--n1);
}

.button-black:hover {
  background: var(--n2);
}
