.hero,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
  font-family: var(--font-dm-sans);
  color: var(--n2);
}

.hero {
  font-size: 84px;
  line-height: 84px;
  letter-spacing: -2%;
}

.h1 {
  font-size: 64px;
  line-height: 64px;
  letter-spacing: -2%;
}

.h2 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -2%;
}

.h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1%;
}

.h4 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -1%;
}

.logo {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.body-1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: -1%;
  font-family: var(--font-poppins);
  color: var(--n4);
}

.body-1-bold {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -1%;
  font-family: var(--font-poppins);
}

.body-2 {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  font-family: var(--font-poppins);
}

.body-2-semibold {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  font-family: var(--font-poppins);
}

.caption {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  font-family: var(--font-poppins);
}

.caption-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  font-family: var(--font-poppins);
}

.caption-2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.caption-2-bold {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
}

.hairline-1 {
  font-family: var(--font-poppins);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.hairline-2 {
  font-family: var(--font-poppins);
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
}

.btn-1 {
  font-family: var(--font-dm-sans);
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.btn-2 {
  font-family: var(--font-dm-sans);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .hero {
    font-size: 64px;
    line-height: 64px;
  }

  .h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .h2 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1%;
  }

  .body-1 {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 430px) {
  .hero {
    font-size: 48px;
    line-height: 56px;
  }

  .h2 {
    font-size: 32px;
    line-height: 40px;
  }

  .h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}
