.container {
  display: flex;
  gap: 64px;
}

.title {
  margin-bottom: 8px;
}

.description {
  color: var(--n4);
}

.title_container {
  flex: 1;
}

.button {
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 32px;
  }
}

@media (max-width: 430px) {
}
